@charset "UTF-8"; 

:root{
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-primary: #173055;
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: var(--bs-primary);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1{
    color:wheat;
    text-align: center;
    filter: blur(1px);

}


.container{
display: grid;
grid-template-columns:  auto 30px 300px  30px auto ;
grid-template-rows: auto 30px 500px 30px auto;
}

.felulet{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: whitesmoke;
    border-radius: .3rem;
    padding: 30px;

}

.title{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    color:wheat;
    text-align: center;
    filter: blur(1px);
}





.divvis {
    border: 1px solid red;
}








/* <link href="bootstrap.css" rel="stylesheet" type="text/css" /> 



*/